.main_articles {
  padding-bottom: 40px;

  & h1 {
    @include font-prata-400;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__link {
    display: flex;
    align-items: center;
    @include font-inter-500;
    text-transform: uppercase;
    color: #303030;
    font-size: 14px;
    text-decoration: none;

    & .button-circle-right__arrow {
      width: 26px;
      margin-left: 12px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    text-align: left;
    color: #303030;
    max-width: 310px;

    & .item__img {
      transition: 0.5s;

      &:hover {
        box-shadow: 0 16px 32px #0000001A;
        transition: 0.5s;
      }
    }

    & .item__date {
      @include font-inter-400;
      color: #8f8f8f;
      margin: 20px 0 12px 0;
    }

    & .item__text {
      @include font-inter-500;
      font-size: 16px;
    }

  }
}

@media (max-width: 1299px) {
  .main_articles {
    &__inner {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    &__item {
      margin: 5px;
    }
  }
}